<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Naver Login</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // 페이지 로딩 시 자동으로 새 창에서 URL 열기
        window.onload = function() {
            var urlParams = new URLSearchParams(window.location.search);
            var accessToken = urlParams.get('accessToken');
            
            // 확인을 위해 콘솔에 출력
            console.log('accessToken from query string:', accessToken);

            if (accessToken) {
                var url = 'https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=puXPnu8QxCDBHhnD9gRj&client_secret=ed7dNaKXIo&access_token=' + accessToken + '&service_provider=NAVER';

                // 새 창 크기 설정
                var windowFeatures = 'width=200,height=200';

                // 새 창 열기
                window.open(url, '_blank', windowFeatures);
            } else {
                console.error('accessToken is not available in the query string.');
            }
        };
        /*]]>*/
    </script>
</head>
<body>
</body>
</html>
