<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천 페이지</title>
</head>
<body>
   <div th:if="${recommendationTextsFromRedisList != null}">
    <!-- Thymeleaf를 사용하여 Redis에서 추천을 가져와 표시 -->
    <ul>
        <li th:each="recommendation : ${recommendationTextsFromRedisList}">
            <span th:utext="${recommendation}"></span>
        </li>
    </ul>
</div>
<p th:unless="${recommendationTextsFromRedisList != null}" >추천이 없습니다.</p>

</body>
</html>
