<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강 상태 질문지</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/surveystyle.css">
</head>

<body>
    <div id="progress-container">
        <span id="progress-text"></span>
        <div id="progress-bar-container">
            <div id="progress-bar"></div>
        </div>
    </div>
    <div id="survey-container" class="full-screen">
        <div id="question-container" class="container half-screen"></div>
        <div id="answer-sheet" class="container half-screen">
            <img src="default-image-path.jpg" alt="Default Image" class="answer-sheet-image">
        </div>
    </div>
    <script src="assets/js/surveyscript.js"></script>
</body>

</html>
